@page "/"

@using Blazored.FluentValidation


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="@Person" OnSubmit="SubmitForm" FormName="testing">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <ValidationSummary />
    <gcds-input input-id="Person.Surname"
                label="Label"
                hint="Hint / example message."
                required error-message="@DisplayErrors("Surname")"
                lang="fr">
    </gcds-input>

    <gcds-input input-id="Person.PhoneNumber"
                label="Label"
                hint="Hint / example message."
                required 
                lang="fr">
    </gcds-input>
    <button type="submit" class="mt-2 btn btn-primary btn-block mb-4 mt-4">Submit</button>
</EditForm>


<script>

</script>


